{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "ecmaFeatures": {
    "modules": false
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "comma-style": ["error", "last"],
    "array-bracket-spacing": ["error", "always"],
    "arrow-parens": [2, "as-needed"],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-console": 0,
    "max-len": [2, 200, 4],
    "no-else-return": 0,
    "new-cap": 0,
    "prefer-template": 0,
    "arrow-body-style": 0,
    "no-nested-ternary": 0,
    "default-case": 0,
    "semi":  [2, "never"],
    "linebreak-style": 0,
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "key-spacing": ["error", { "align": "value" }],
    "no-multi-spaces": ["error", { "exceptions": { "ImportDeclaration": true } }],
    "class-methods-use-this": 0,
    "no-confusing-arrow": 0,
    "no-return-assign": 0,
    "react/self-closing-comp": ["error", { "component": true, "html": true }],
    "react/prefer-stateless-function": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [0],
    "react/require-default-props": 0,
    "import/extensions": [0],
    "import/no-extraneous-dependencies": [2, {"devDependencies": true, "optionalDependencies": true}],
    "jsx-a11y/label-has-for": 0
  }
}