$black: #000;
$white: #fff;
$red:   #ff3a30;
$blue:  #0463e1;

$listBackgroundGray: #e1e2e4;
$listSeparatorGray:  #c7c7c7;
$listCathegoryGray:  #737373;

$contactFontGray:      #808080;
$contactBorderGray:    #cdcdcd;
$contactSeparatorGray: #eeeeee;
$topPadding: 50px;
$sides-paddinng: 4em;
$bottom-padding: 1em;
